extends layout

block content
    main.flex-shrink-0
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container.px-5
        a.navbar-brand(href='index.html') Ciclistas
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
                a.nav-link(href='index.html') Nosotros
            li.nav-item
                a.nav-link(href='about.html') Bicicletas
            li.nav-item
                a.nav-link(href='contact.html') Contacto          
    // Header
    header.bg-dark.py-5
        .container.px-5
        .row.gx-5.align-items-center.justify-content-center
            .col-lg-8.col-xl-7.col-xxl-6
            .my-5.text-center.text-xl-start
                h1.display-5.fw-bolder.text-white.mb-2 Primera comunidad online de ciclistas
                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#features') Comenzar
            .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center
    // Features section
    section#features.py-5
        .container.px-5.my-5
        .row.gx-5
            .col-lg-4.mb-5.mb-lg-0
            #main_map
    // Footer
    footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
        .col-auto
            .small.m-0.text-white Copyright &copy; Your Website 2021
        .col-auto
            a.link-light.small(href='#!') Privacy
            span.text-white.mx-1 &middot;
            a.link-light.small(href='#!') Terms
            span.text-white.mx-1 &middot;
            a.link-light.small(href='#!') Contact
    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
    
    // Core theme JS
    script(src='/javascripts/scripts.js')

    script(src='/javascripts/map.js')
